# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
debug.log

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*.swp

# Public uploads (if any)
public/uploads/
